[parameters]
id=chicks@fini.net

[misc]
project-priority=RC5-72,OGR-NG

[display]
progress-indicator=auto-sense

[logging]
log-file-limit=monthly
log-file={{ ansible_hostname }}_
log-file-type=rotate

[rc5-72]
random-subspace=1339

[ogr-ng]
fetch-workunit-threshold=12

[networking]
autofindkeyserver=no
keyserver=c64.chicks.net
